* {
  background-color: rgb(73, 110, 110);
  color: white;
}

.cont {
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 200px;
  width: 200px;
  padding: 1em;
}

.text {
  display: flex;
  justify-content: space-around;
}
